<% if(panel.img && panel.img.type === "icon") { %>
  <div class="w3-third w3-center">
    <i style="font-size: 100px; color: <%= theme %>"class="fa fa-<%= panel.img.name %> w3-padding-64"></i>
  </div>
<% } %>
